
body{
    height:100vh;
    align-items: center;
    justify-content: center;
    
}
#main{
    max-width: 960px;
    margin:auto;
    
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    cursor: pointer;
}
header{
    background :#333333;
}
#special{
    font-size: 1.5rem;
    display: inline-block;
    border-left: 1px dotted white;
    border-right: 1px dotted white;
    padding: 0px 15px 0px 15px;
    background :#333333;
    color: white;
    
}

#all_images{
   display:flex;
   flex-direction: column;
    width: 100vh;
   
}
#home_page{
    height: 100vh;
    width: 900px;
    display: flex; 
    
    
}
#left_section{
    padding-left: 30px;
    width: 50vw;
    padding-top: 300px;
}
#left_section h2{
    opacity: 0.5;
    
}
#right_section img{
   
    padding-left: 100px;
    height:100vh;
    width: 30vw;
}
#photo{
    width: 100vh;  
}
#photo img{
    
   width: 100vh;
}
#photo1 img{
    height:70vh;
    width: 100vh;
 }

 i.fas:hover {
    
     cursor: pointer;
 }
 
 footer{
    display:inline-block;
    text-align: center;
    width:50vw;
    box-shadow: none;
 }
 footer h3{
     font-size: 2rem;
     font-style: bold;
 }
 @media(min-width: 500px) {
   body{
       height:100%;
       
   }
   #scrolling_arrow{
        position: fixed;
    bottom:30px;
    left: 30em;
    cursor: pointer;

    }
    i{
     
        display:inline-block;
        font-size: 30px;
        color:red;
       
    }
  }
  
  @media(min-width: 700px) {
    body{
        display:flex;
        flex-wrap: wrap;
        height:100%;
        
    }
    #right_image{
        height:100vh;
    }
    #scrolling_arrow{
     position:fixed;
    bottom:30px;
    left: 100em;
    cursor: pointer;

    }
    i{
     
        display:inline-block;
        font-size: 40px;
        color:red;
       
    }
      
  }
 
